# Overview

How happy are customers based on survey. 

Data Description:
Y = target attribute (Y) with values indicating 0 (unhappy) and 1 (happy) customers
X1 = my order was delivered on time
X2 = contents of my order was as I expected
X3 = I ordered everything I wanted to order
X4 = I paid a good price for my order
X5 = I am satisfied with my courier
X6 = the app makes ordering easy for me
Attributes X1 to X6 indicate the responses for each question and have values from 1 to 5 where the smaller number indicates less and the higher number indicates more towards the answer.

In [36]:
# Imports
import pandas as pd
from pandas_profiling import ProfileReport
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn import metrics

In [10]:
# Read in data
df = pd.read_csv("HappinessSurvey2020.csv")
df

     Y  X1  X2  X3  X4  X5  X6
0    0   3   3   3   4   2   4
1    0   3   2   3   5   4   3
2    1   5   3   3   3   3   5
3    0   5   4   3   3   3   5
4    0   5   4   3   3   3   5
..  ..  ..  ..  ..  ..  ..  ..
121  1   5   2   3   4   4   3
122  1   5   2   3   4   2   5
123  1   5   3   3   4   4   5
124  0   4   3   3   4   4   5
125  0   5   3   2   5   5   5

[126 rows x 7 columns]

# EDA

Attributes X2 and X3 have the lowest rating on average.

In [11]:
# Profile Report
# profile = ProfileReport(df, minimal=True)
# profile.to_file(output_file="Happiness.html")

In [12]:
# Mean & 25%
df.describe()

,Y,X1,X2,X3,X4,X5,X6
count,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,0.547619,4.333333,2.531746,3.309524,3.746032,3.650794,4.253968
std,0.499714,0.800000,1.114892,1.023440,0.875776,1.147641,0.809311
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,4.000000,2.000000,3.000000,3.000000,3.000000,4.000000
50%,1.000000,5.000000,3.000000,3.000000,4.000000,4.000000,4.000000
75%,1.000000,5.000000,3.000000,4.000000,4.000000,4.000000,5.000000
max,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

# Wranggle Data

Data is clean; no missing values

In [13]:
# Train/Test Split
train, test = train_test_split(df, test_size=.2, train_size=.8,
                              random_state=42, stratify=df["Y"])
train.shape, test.shape

((100, 7), (26, 7))

This is a classification problem. The majority class occurs with 55% frequancy.

In [14]:
train["Y"].value_counts(normalize=True)

1    0.55
0    0.45
Name: Y, dtype: float64

In [24]:
# Feature Selection
target = "Y"
features = train.drop(columns=[target]).columns

In [26]:
X_train = train[features]
y_train = train[target]
x_test = test[features]
y_test = test[target]

# Models

Relationsip is not linear. Logistic Regression not the best model.

In [37]:
logreg = LogisticRegressionCV(cv=5)
logreg.fit(X_train,y_train)

LogisticRegressionCV(cv=5)

In [38]:
ypred = logreg.predict(X_train)
score = logreg.score(X_train,y_train)
print(score)

0.55

Confusion Matrix : predicted all customers were happy (Y = 1)

In [43]:
cm = metrics.confusion_matrix(y_train,ypred,labels=[1,0])
print(cm)

[[55  0]
 [45  0]]